@use "../../Scss/variables" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.nav {
    ul {
        display: flex;

        .link {
            color: $main-text-color;
            font-size: $main-text-size;
            font-weight: bold;
            padding-left: 70px;
        }
    }
}