@use "../../Scss//variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");


.main_visual {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    background-image: url("/img/AboutMainvisual.png");
    background-position: center;
    background-size: cover;
}

.info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, .3);
    padding-top: 150px;
    padding-bottom: 130px;
}

.h1 {
    font-family: "Bitter", serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: $main-text-color;
    font-size: $main_visual_text_size;
    line-height: 1.1;

    .name {
        display: block;
    }

    .last_name {
        display: block;
        padding-left: 2em;
    }
}

.row_wrap {
    background: #005A64;
    box-shadow: 0 0 8px 0 #005A64 inset;
    padding: 28px 40px;
    border-radius: 20px;
    margin-top: 40px;
    width: 596px;
    line-height: 2;

    .row {
        display: grid;
        grid-template-columns: 150px 1fr;
        column-gap: 12px;
        row-gap: 16px;
        margin-top: 6px;

        &:first-child {
            margin-top: 0;
        }

        dt {
            font-weight: bold;
            color: $main-text-color;
            font-size: 1.6rem;
        }

        dd {
            color: $main-text-color;
            font-size: 1.6rem;
            line-height: 1.8;

            span {
                margin-left: 1em;
            }
        }
    }
}