@use "../../Scss//variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");


.main_visual {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    background-image: url("/img/AboutMainvisual.png");
    background-position: center;
    background-size: cover;
}

.info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 800px;
    background-color: rgba(2, 2, 2, .3);
}

.h1 {
    font-family: "Bitter", serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: $main-text-color;
    font-size: $main_visual_text_size;
    line-height: 1.1;

    .name {
        display: block;
    }

    .last_name {
        display: block;
        padding-left: 2em;
    }
}

.row_wrap {
    background-color: rgba($color: $bg-color, $alpha: .3);
    padding: 20px 30px;
    border-radius: 20px;
    margin-top: 40px;

    .row {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 8px;
        row-gap: 8px;
        margin-top: 10px;

        &:nth-child(1) {
            margin-top: 0;
        }

        dt,
        dd {
            color: $main-text-color;
            font-size: $mini-text-size;
        }
    }
}