// フォントの種類
// $main-visual-font:

// テキストのカラー
$main-text-color: #F0E8D5;
$sub-text-color: #CFE0EA;

// テキストサイズ
$main-visual-text_size: 9.6rem;
$main-text-size: 3.6rem;
$sub-text-size: 2.4rem;

// 背景カラー
$main-bg-color: #0F1516;
$bg-color: #234C58;