@use "../../Scss/variables" as *;
@use "../../Scss/mixin" as *;

.h2 {
    @include h2_style;
    color: #C9C2C2;
    margin-bottom: 0;
    // margin-top: 1080px;
}

.p {
    color: $sub-text-color;
    font-size: $high-mini-text-size;
    margin-left: 100px;
}

.career_wrap {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    // border: 1px solid tomato;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.25) inset;
    z-index: 10;

    .career_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 800px;
        text-align: center;

        p {
            color: $main-text-color;
            font-size: $high-sub-text-size;
            line-height: 1.4;

            &:nth-child(1) {
                margin-bottom: 8px;
            }

            &:nth-child(2) {
                font-weight: bold;
            }

            span {
                font-size: $sub-text-size;
            }
        }
    }


    &:nth-child(1) {
        top: 64px;
    }

    &:nth-child(2) {
        top: 150px;
        left: 275px;
    }

    &:nth-child(3) {
        top: 200px;
    }

    &:nth-child(4) {
        top: 250px;
        right: 275px;
    }

    &:nth-child(5) {
        top: 300px;
    }

    &:nth-child(6) {
        top: 350px;
        left: 275px;
    }

    &:nth-child(7) {
        width: 250px;
        height: 250px;
        top: 400px;

        // .career_text {
        //     p {
        //         // text-align: center;
        //         width: 1100px;
        //         font-size: 3.2rem;
        //         margin: 0 auto;
        //     }
        // }
    }
}

.line1 {
    position: absolute;
    top: 310px;
    left: 50%;
    width: 260px;
    height: 8px;
    background: $bg-color;
    transform: rotate(42deg);
    z-index: 0;
}

.line2 {
    position: absolute;
    top: 700px;
    left: -80%;
    width: 600px;
    height: 8px;
    background: $bg-color;
    transform: rotate(-40deg);
    z-index: 0;
}

.line3 {
    position: absolute;
    top: 1200px;
    left: -80%;
    width: 600px;
    height: 8px;
    background: $bg-color;
    transform: rotate(40deg);
    z-index: 0;
}

.line4 {
    position: absolute;
    top: 1600px;
    left: 45%;
    width: 260px;
    height: 8px;
    background: $bg-color;
    transform: rotate(-45deg);
    z-index: 0;
}


.contact_circle {
    position: absolute;
    bottom: -700px;
    right: -500px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $bg-color;

    .contact_text {
        padding-top: 45px;

        p {
            color: $sub-text-color;
            font-size: $mini-text-size;
            text-align: center;
            font-weight: bold;
        }
    }
}