@use "../../Scss/variables" as *;
@use "../../Scss/mixin" as *;

.h2 {
    @include h2_style;
    color: #C9C2C2;
    // margin-top: 1080px;
}

.profile_table {
    width: 1000px;
    margin: 40px auto 80px auto;

    .row {
        display: grid;
        grid-template-columns: 240px 1fr;
        margin-bottom: 20px;

        dt {
            color: $main-text-color;
            font-size: 2.2rem;
            font-weight: bold;
        }

        dd {
            color: $main-text-color;
            font-size: 2rem;
            line-height: 1.9;
        }
    }
}

.photo_wrap {
    display: flex;
    justify-content: space-between;

    .photo1 {
        margin-top: -10px;
        margin-left: 460px;
    }

    .photo2 {
        margin-right: 180px;
    }

    .photo3 {
        margin-top: 40px;
        margin-left: 240px;
    }

    .photo4 {
        margin-right: 180px;
    }
}