@use "./Scss/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

.main_visual {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    background-image: url("/img/top_main_visual.png");
    background-size: cover;
}

.info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 800px;
    background-color: rgba(2, 2, 2, .3);
}

.info {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25)
}

.h1 {
    font-family: "Bitter", serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    // border: 1px solid tomato;
    color: $main-text-color;
    font-size: $main_visual_text_size;
    line-height: 1.1;

    .name {
        display: block;
    }

    .last_name {
        display: block;
        padding-left: 2em;
    }
}

.info_text_wrap {
    // border: 1px solid tomato;
    text-align: right;
    margin-top: 40px;

    .ul {
        color: $main-text-color;
        font-size: $sub-text-size;

        &:nth-child(2) {
            margin-top: 30px;
        }
    }
}