@use "./Scss/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

.main_visual {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    background-image: url("/img/top_main_visual.png");
    background-size: cover;
}

.info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 800px;
    background-color: rgba(2, 2, 2, .3);
}

.h1 {
    font-family: "Bitter", serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: $main-text-color;
    font-size: $main_visual_text_size;
    line-height: 1.1;

    .name {
        display: block;
    }

    .last_name {
        display: block;
        padding-left: 2em;
    }
}

.info_text_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 30px;

    .ul {
        color: #00808D;
        font-size: $mini-text-size;
        font-weight: bold;
        line-height: 2.5;

        li {
            width: 270px;
            height: 48px;
            box-shadow: 0 0 13px 0 rgba(255, 255, 255, 0.4);
            background-color: #fff;
            // border: 1px solid rosybrown;
            border-radius: 10px;
            opacity: .8;

            &:last-child {
                margin-top: 15px;
            }
        }
    }
}

.skill_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;

    .skill_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        background: #00808D;
        box-shadow: 0 0 8px 0 #005A64 inset;
        border-radius: 10px;
        transition: transform 0.5s ease, box-shadow 0.5s ease;

        &:hover {
            transform: scale(1.08);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
            transition: .3s;
        }
    }
}


.last_word {
    color: $main-text-color;
    font-size: $main-text-size;
    font-weight: lighter;
    text-align: center;
    margin: 100px 0;
}