@use "../../Scss/variables" as *;

.wrap {
    margin: 0 100px;
    margin-top: 180px;
    padding-bottom: 200px;

    .title {
        font-size: 4rem;
        font-weight: bold;
        color: $main-text-color;
        margin-top: 60px;
    }

    .subtitle {
        font-size: 1.6rem;
        color: $sub-text-color;
        margin-bottom: 40px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;

        .thumbnail img {
            border-radius: 12px;
        }

        .info p {
            color: $sub-text-color;
            font-size: $info-text-size;
            margin-bottom: 50px;

            span {
                color: $main-text-color;
                display: inline-block;
                width: 120px;
            }

            &:nth-child(5) {
                margin-bottom: 10px;
            }
        }
    }

    .section {
        margin-top: 80px;

        h2 {
            font-size: 2.4rem;
            color: $main-text-color;
            margin-bottom: 16px;
        }

        p,
        li {
            color: $sub-text-color;
            font-size: $mini-text-size;
            line-height: 2;
        }
    }
}


.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-top: 40px;
}

.card_wrap {
    position: relative;

    &:hover .solution_card {
        opacity: 1;
        transform: translateY(20px);
    }

    &:hover .arrow {
        opacity: 1;
    }
}

.problem_card,
.solution_card {
    background-color: #22414d;
    padding: 28px 20px;
    border-radius: 14px;
    color: $sub-text-color;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: $main-text-color;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 6px;
    }

    p {
        font-size: 1.2rem;
        text-align: center;
    }
}

.solution_card {
    opacity: 0;
    transform: translateY(0);
    transition: all 0.5s ease;
    text-align: left;

    p {
        text-align: left;
        margin: 0 auto;
    }
}

.arrow {
    font-size: 2rem;
    color: $main-text-color;
    margin: 10px 0;
    opacity: 0;
    transition: 0.4s ease;
    text-align: center;
}