@use "../../Scss/variables" as *;
@use "../../Scss//mixin" as *;

.h2 {
    @include h2_style;
}

.about_wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-bottom: 300px;
}

.photo {
    position: absolute;
    border-radius: 20px;

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease, transform 1.5s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    &:nth-child(1) {
        top: 40px;
        left: 200px;
    }

    &:nth-child(2) {
        top: 540px;
        left: 148px;
    }

    &:nth-child(3) {
        top: 180px;
        right: 135px;
    }
}

.info_wrap {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 350px;
    height: 430px;
    background-color: $bg-color;
    border-radius: 20px;

    .img_text_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 72px;

        .info_text {
            p {
                color: $main-text-color;
                font-size: $sub-text-size;
                font-weight: bold;

            }
        }
    }

    .more_me_wrap {
        text-align: center;

        .more_me {
            position: relative;
            display: inline-block;
            color: $sub-text-color;
            font-size: $main-text-size;
            font-weight: bold;
            text-align: center;
            margin-top: 56px;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0%;
                height: 2px;
                background-color: $sub-text-color;
                transition: width 0.5s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.contact_circle {
    position: absolute;
    bottom: -300px;
    right: 135px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $bg-color;

    .contact_text {
        padding-top: 45px;

        p {
            color: $sub-text-color;
            font-size: $mini-text-size;
            text-align: center;
            font-weight: bold;
        }
    }
}