@use "../../Scss/variables" as *;
@use "../../Scss//mixin" as *;

.h2 {
    @include h2_style;
}

.skills_wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 300px;
    border-radius: 20px;
    background-color: $bg-color;
    margin: 0 100px;
}