@use "../../Scss/variables" as *;
@use "../../Scss//mixin" as *;

.h2 {
    @include h2_style;
}

.contact_wrap {
    width: 1240px;
    height: 300px;
    background-color: $bg-color;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    // border: 1px solid tomato;

    p {
        color: $main-text-color;
        font-size: $main-text-size;
        font-weight: bold;
    }
}

.contact_info {
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
    // border: 1px solid tomato;
}

.mail,
.tell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    // border: 1px solid tomato;
    p {
        color: $main-text-color;
        font-size: $main-text-size;
        font-weight: bold;

    }

    &:nth-child(2) {
        margin-top: 20px;
    }
}